.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: rgb(145, 0, 0);
}
.nav-link {
  color: whitesmoke;
}

.btn-light {
  --bs-btn-bg: rgb(145, 0, 0);
  --bs-btn-color: whitesmoke;
}

.container-fluid {
  color: black;
}
.btn-primary {
  --bs-btn-bg: rgb(145, 0, 0);
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: black;
}
.btn-outline-secondary {
  --bs-btn-bg: rgb(145, 0, 0);
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: black;
  color: aliceblue;
}

img {
  float: right;
  margin-left: 50px;
  margin-bottom: 20px;
}

.gradient-background {
  background: linear-gradient(300deg, #452c63, #4b0082, #e6e6fa);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.abdou {
  font-family: "Dancing Script", cursive;
}

#programmer {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
}

.ss {
  --bs-btn-bg: rgb(23, 26, 196);
  --bs-btn-border-color: none;
  width: 300px;
  height: 60px;
}
